{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>Animals</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />

  <link href='https://fonts.googleapis.com/css?family=Saira Extra Condensed' rel='stylesheet'>

	<style type="text/css">
    .animals {
      font-size: 7em;
    }

		.extra-condensed {
      font-family: "Saira Extra Condensed";
    }

    .animals-top {
      background-color: #F16363;
    }

		.normal-condensed {
      font-family: Saira;
    }

		.arrow {
			width: 1em;
		}

	</style>

	<script type="text/javascript" canvas="canvas">

	</script>
</head>
<body>
  <h2 class="animals animals-top extra-condensed text-center p-5 mb-5">
		<a href="/coloring/start_screen"><img class="arrow float-left" src="{% static 'coloring/images/arrow.png' %}"></a>Animals
	</h2>
  <div class="container">
		<div class="row">
			<div class="col-6 flex-column">
				<a><img class="w-100 my-3" src="{% static 'coloring/images/animal_1.png' %}"> </a>
				<a><img class="w-100 my-3" src="{% static 'coloring/images/animal_2.png' %}"> </a>
				<a><img class="w-100 my-3" src="{% static 'coloring/images/animal_3.png' %}"> </a>
				<a><img class="w-100 my-3" src="{% static 'coloring/images/animal_4.png' %}"> </a>

			</div>
			<div class="col-6 flex-column">
				<a><img class="w-100 my-3" src="{% static 'coloring/images/animal_5.png' %}"> </a>
				<a><img class="w-100 my-3" src="{% static 'coloring/images/animal_6.png' %}"> </a>
				<a><img class="w-100 my-3" src="{% static 'coloring/images/animal_7.png' %}"> </a>
				<a><img class="w-100 my-3" src="{% static 'coloring/images/animal_8.png' %}"> </a>
			</div>
		</div>

  </div>
</body>
</html>
