{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Start Screen</title>

	<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@600&family=Saira:wght@500&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Saira Extra Condensed' rel='stylesheet'>

  <style type="text/css">
    .scrolling {
      overflow: auto;
      white-space: nowrap;
    }

    .extra-condensed {
      font-family: "Saira Extra Condensed";
    }

    .normal-condensed {
      font-family: Saira;
    }

    .title {
      background-image: url("https://i.ibb.co/8Kkw7mZ/Rainbow-Background.png");
  		background-origin: border-box;
			font-size: 7em;
    }

		.animals-top {
      background-color: #F16363;
    }

		.flowers-top {
      background-color: #66FF7E;
    }

		.landscapes-top {
      background-color: #74FFFF;
    }

	</style>

</head>
<body>

  <h1 class="title w-100 extra-condensed p-2 my-5 align-middle text-center">Coloring Book</h1>
  <div class="container-flex">
    <div class="row animals-top mx-0 my-5 p-4">
      <div class="col">
        <h2 class="normal_condensed">Animals<a href="/coloring/animals" class="float-right"><img src="{% static 'coloring/images/grid.png' %}"></a></h2>

        <div class="scrolling mt-3">
          <a class="ml-0"><img src="{% static 'coloring/images/animal_1.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/animal_2.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/animal_3.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/animal_4.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/animal_5.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/animal_6.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/animal_7.png' %}"></a>
          <a href="new_interaction" class="mx-2"><img src="{% static 'coloring/images/animal_8.png' %}"></a>
        </div>
      </div>
    </div>

    <div class="row flowers-top mx-0 my-5 p-4">
      <div class="col">
        <h2 class="normal_condensed">Flowers<a href="/coloring/flowers" class="float-right"><img src="{% static 'coloring/images/grid.png' %}"></a></h2>

        <div class="scrolling mt-3">
          <a  class="ml-0"><img src="{% static 'coloring/images/flower_1.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/flower_2.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/flower_3.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/flower_4.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/flower_5.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/flower_6.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/flower_7.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/flower_8.png' %}"></a>
        </div>
      </div>
    </div>

    <div class="row landscapes-top mx-0 my-5 p-4">
      <div class="col">
        <h2 class="normal_condensed">Landscapes<a href="/coloring/landscapes" class="float-right"><img src="{% static 'coloring/images/grid.png' %}"></a></h2>

        <div class="scrolling mt-3">
          <a  class="ml-0"><img src="{% static 'coloring/images/landscape_1.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/landscape_2.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/landscape_3.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/landscape_4.png' %}"></a>
          <a  class="mx-2"><img src="{% static 'coloring/images/landscape_5.png' %}"></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
